# OSX Filesystem files
.DS_Store

# Intellij files
**.iml
.idea

# Vagrant files
**/.vagrant

# Java binaries
**/target

# SELinux files
**/*.pp
**/*.te

# Python bytecode
**/*.pyc

# SQLite
**/*.sqlite3
