[Unit]
Description=Database
After=network-online.target

[Service]
Type=forking
User=database
WorkingDirectory=/home/database
ExecStart=/usr/bin/screen -d -m /usr/bin/java -jar /home/database/db.jar false 8100

[Install]
WantedBy=multi-user.target