<p>If you really want to revoke <i>all</i> your certificates,
  enter your password and click the confirm button.</p>

  {% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}

  <p>
  <a href="/info_display/welcome">Back to welcome</a>
</p>

  {% if form %}
  <form action="{% url 'info_display:revoke_all' %}" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Confirm" />
  </form>
  {% endif %}
  <form action="{% url 'info_display:goodbye' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Logout" />
  </form>
