<h3>Welcome {{user_id}}</h3>

  {% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}
  {% if error_msg %}<p><strong>Referred here by {{ referrer }}</strong></p>{% endif %}
  <ul>
    <li><a href="/info_display/display_user_info">Get new certificate</a></li>
    <li><a href="/info_display/revoke_single">Revoke single certificate</a></li>
    <li><a href="/info_display/revoke_all">Revoke all certificates</a></li>
    <li><a href="/info_display/crl">Show certificate revocation list</a></li>
  </ul>
  <form action="{% url 'info_display:goodbye' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Logout" />
  </form>
