[Unit]
Description=CoreCA
After=network-online.target

[Service]
Type=forking
User=coreca
WorkingDirectory=/home/coreca
ExecStart=/usr/bin/screen -d -m /usr/bin/java -jar /home/coreca/core_ca.jar false 8100

[Install]
WantedBy=multi-user.target